.hero-section {
  height: 65vh;
  margin-top: 120px;
}
.hero-img {
  height: 55vh;
  width: 55vh;
}
.social-media-icons {
  font-size: 2em;
  color: rgb(130, 132, 150);
  transition: all 0.2s ease-in;
}
.about-text {
  font-size: 1.3rem;
  letter-spacing: 1.5px;
  word-spacing: 2px;
  font-family: Inter Tight, sans-serif;
  font-weight: 400;
  color: rgb(130, 132, 150);
}
.greeting-text {
  font-size: 2rem;
  font-weight: 200;
  font-family: Inter Tight, sans-serif;
  margin: 0;
}
.name-text {
  font-size: 3rem;
  font-weight: 500;
  font-family: Inter Tight, sans-serif;
  margin: 0;
}
.hero-text {
  width: 30vw;
}

.social-media-icons:hover {
  cursor: pointer;
}
.social-media-icons.lin:hover {
  color: #0077b5;
}
.social-media-icons.ig:hover {
  color: #e1306c;
}
.social-media-icons.mail:hover {
  color: #249ee4;
}
.social-media-icons.git:hover {
  color: black;
}

.resume-link {
  color: black;
  text-decoration: none;
}
.resume-link:hover {
  color: white;
}

@media screen and (max-width: 1300px) {
  .hero-img {
    height: 48vh;
    width: 48vh;
  }
  .social-media-icons {
    font-size: 1.5em;
  }
  .greeting-text {
    font-size: 1.7rem;
  }
  .name-text {
    font-size: 2.7rem;
  }
  .about-text {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1070px) {
  .name-text {
    font-size: 2.5rem;
  }
  .about-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 980px) {
  .hero-img {
    height: 45vh;
    width: 45vh;
  }
  .social-media-icons {
    font-size: 1.3em;
  }
  .greeting-text {
    font-size: 1.5rem;
  }
  .name-text {
    font-size: 2.3rem;
  }
  .about-text {
    font-size: 1rem;
  }
}
@media screen and (max-width: 920px) {
  .social-media-icons {
    font-size: 1.8em;
  }
  .greeting-text {
    font-size: 2rem;
  }
  .about-text {
    font-size: 1.1rem;
  }
  .name-text {
    font-size: 3rem;
  }
  .hero-text {
    width: 45vw;
  }
  .hero-section {
    height: max-content;
    /* border: 1px solid lightgreen; */
    margin-top: 300px;
  }
  .sub-btn {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 781px) {
  .greeting-text {
    font-size: 2rem;
  }

  .about-text {
    font-size: 1.1rem;
  }

  .name-text {
    font-size: 2.5rem;
  }

  .hero-text {
    width: 48vw;
  }
}
@media screen and (max-width: 610px) {
  .greeting-text {
    font-size: 1.9rem;
  }

  .about-text {
    font-size: 1.1rem;
  }

  .name-text {
    font-size: 2.3rem;
  }

  .hero-text {
    width: 55vw;
  }
}
@media screen and (max-width: 495px) {
  .greeting-text {
    font-size: 1.7rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .name-text {
    font-size: 2rem;
  }

  .hero-text {
    width: 60vw;
  }
}
@media screen and (max-width: 420px) {
  .greeting-text {
    font-size: 1.4rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .name-text {
    font-size: 1.7rem;
  }

  .hero-text {
    width: 70vw;
  }
}

